html{
    background-color: #A8AE95;
}
.sectionHead{
    padding-left: 24px;
    padding-top: 32px;
}
.sectionHead2{
    padding-top:0px;
    padding-left:32px;
    padding-bottom: 0px;
}
.colorContainer{
    display: inline-block;
    margin: 40px
}
.sectionContainer{
    background-color: FFFFFF;
    border-radius:10px;
    height:1100px;
    width:1190px;
}
.sectionContainer1{
    background-color:FFFFFF;
    border-radius:10px;
    height:1200;
    width:1152;
}
.sectionContainer2{
    background-color: FFFFFF;
    border-radius: 10px;
    height: 300px;
    width: 1152px;
}
.sectionContainer3{
    background-color: FFFFFF;
    border-radius: 10px;
    height: 1244px;
    width: 1152px;
    grid-template-columns: 33.3%;
    grid-template-rows: 33.3%
}
.section{
    padding: 10px;
}
.swatch{
    height: 144;
    width: 196;
    border: 1px black;
    border-radius: 10px;
}
.hexCode{
    padding: 15px;
    text-align: center;
    border-top: none;
    font-family: lato;
    font-size: 16px;
}
.typeContainer{
    display: inline-block;
    margin: 20px;
}
div {
    font-weight:bold;
}
.primaryGray{
    background-color: #282628;
}
.primaryWhite{
    background-color: #E8E8E8;
}
.secondaryPurple{
    background-color: #706271;
}
.secondaryGreen{
    background-color: #909482;
}
.accentPurple{
    background-color: #9F88A0;
}
.accentGreen{
    background-color: #A8AE95;
}
.hexCode1{
    padding:4px;
    text-align: center; 
    font-family: lato;
    font-size: 16px;

}
.swatch1{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 10px;
    padding: 8px 8px 8px 12px
}
.black{
    background-color: #1D1D1D
}
.gray1{
    background-color: #333333;
}
.gray2{
    background-color: #BDBDBD;
}
.gray3{
    background-color: #E0E0E0;
}
.white{
    background-color: #F8F8F8;
}

/* Clear floats after the columns */
.row{
    content:"";
    clear: both;
    padding: 20px 20px 20px 20px;
}
.column{
    float: left;
    padding-left: 32;
    width: 30%;
    font-size: 24px;
    font-family: Barlow;
    padding-top: 10px;
    font-style: medium;
}
h1{
font-size:48px;
font-weight: 700px;
font-family: Barlow;
}
h2{
    font-size:40px;
    font-weight: 700px;
    font-family: Barlow;
}
h3{
    font-size:  32px;
    font-weight:700px;
    font-family: Barlow;
}
.size{
    font-size: 48px;
    font-style: 700px;
    font-family: Barlow;
    padding-top: 10px;
}
.size2{
    font-size: 40px;
    font-style: 700px;
    font-family:Barlow;
}
.size3{
    font-size: 32px;
    font-style: 700px;
    font-family: Barlow;
}
.size4{
    font-size: 28;
    font-style: 700px;
    font-family: Barlow;
}
.size5{
    font-size:24px;
    font-style: 700px;
    font-family:Barlow;
}
.size6{
    font-size:20px;
    font-style:normal;
    font-family:Barlow;
}
.size7{
    font-size: 24px;
    font-family: lato;
    font-style: bold;
}
.size8{
    font-size: 24px;
    font-family: lato;
    font-style: normal;
    padding:10px 0px 0px 32px;
}
.size9{
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
}
.size10{
    font-size: 20px;
    font-family: lato;
    font-style: normal;
    padding:10px 0px 0px 32px;
}
.size11{
    font-size: 16px;
    font-family: lato;
    font-style: bold;
}
.size12{
    font-size: 16px;
    font-family: lato;
    font-style: normal;
}
.size13{
    font-size:14px;
    font-family: lato;
    font-style: bold;
}
.size14{
    font-size: 14px;
    font-family: lato;
    font-style: normal;
    padding:5px 0px 0px 32px;
}
.bodyText {
    padding-top: 20px;
}
.primaryButton{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.mainButton{
    width: 272px;
    background-color: #706271;
    border: none;
    border-radius: 8px;
    padding: 20px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.secondaryButton{    
    width: 272px;
    background-color: #909482;
    border: none;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
    padding: 20px;
}
.sectionButton{
    display: grid;
    font-size: 16px;
    font-family: lato;
    color: #BDBDBD;
}
.smallButton{ 
    display: inline-block;   
    width: 240px;
    background-color: #706271;
    border: none;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    text-align: center;
    padding: 20px;
}
.buttonSize{
        display: flex;
        justify-content: flex-start;
        justify-content: center;
        flex-direction: column;
}
.medButton{
    padding: 20px;
    width: 308px;
    background-color: #706271;
    border: none;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.largeButton{
    padding: 20px;
    width: 344px;
    background-color: #706271;
    border: none;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 20px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.hoverButton{
    padding: 20px;
    width: 272px;
    background-color: #4F454F;
    border: none;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center; 
}
.activeButton{
    padding: 20px;
    width: 272px;
    background-color: #9B8A9D;
    border: none;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.focusButton{
    padding: 20px;
    width: 272px;
    background-color: #9B8A9D;
    border: 1px black solid;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.disabledButton{
    padding: 20px;
    width: 272px;
    background-color: #9b8a9d8e;
    border: 1px black;
    border-radius: 8px;
    color: #E8E8E8;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.buttonSection{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
}
.buttonSize{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-direction: column;
}
.sizeButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.topSection{
    display: flex;
}
/* Clear floats after the TopSection */

.bottomSection{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    height: 300px;
}
.sizeButton{
    float: left;
    font-size: 16px;
    font-family: lato;
    color: #BDBDBD;
}
.colorSection{
    float: left;
    width: 50%;
    height: 500px;
    padding: 0px 0px 0px 32px;
}
.sizeSection{
    float: right;
    width: 50%;
    height: 500px;
}   
.variantSection{
    display:grid;
    width:10px;
    padding: 10px;
    height: 300px;
}
.sectionLabel{
    font-size: 16px;
    font-family: lato;
    font-style: normal;
}
.primarySection{
    display: grid;
    padding: 10px;
    height: 600px;
}
.lineSection{
    display: grid;
    padding: 10px;
    height: 600px;
}
.secondarySection{
    display: grid;
    padding: 10px;
    height: 600px;
}
.hoverButton2{
    padding: 20px;
    width: 272px;
    border: 2px #4F454F solid;
    border-radius: 8px;
    color: #4F454F;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center; 
}
.activeButton2{
    padding: 20px;
    width: 272px;
    border: 2px #9b8a9d solid;
    border-radius: 8px;
    color: #1D1D1D;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.focusButton2{
    padding: 20px;
    width: 272px;
    border: 2px black solid;
    border-radius: 8px;
    color: #1D1D1D;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.disableButton2{
    padding: 20px;
    width: 272px;
    background-color: #F8F8F8;
    border: 2px #CAC0CB solid;
    border-radius: 8px;
    color: #CAC0CB;
    font-size: 16px;
    font-family: lato;
    margin-left: 32px;
    text-align: center;
}
.mainButton2{
        width: 272px;
        border: 2px #4F454F solid;
        background-color: none;
        border-radius: 8px;
        padding: 20px;
        color: #1D1D1D;
        font-size: 16px;
        font-family: lato;
        margin-left: 32px;
        text-align: center;
    }
.hoverButton3{
        padding: 20px;
        width: 272px;
        background-color: #333333;
        border: none;
        border-radius: 8px;
        color: #E8E8E8;
        font-size: 16px;
        font-family: lato;
        margin-left: 32px;
        text-align: center; 
    }
.activeButton3{
        padding: 20px;
        width: 272px;
        background-color: #B7BCA6;
        border: none;
        border-radius: 8px;
        color: #E8E8E8;
        font-size: 16px;
        font-family: lato;
        margin-left: 32px;
        text-align: center;
    }
.focusButton3{
        padding: 20px;
        width: 272px;
        background-color: #B7BCA6;
        border: 1px black solid;
        border-radius: 8px;
        color: #E8E8E8;
        font-size: 16px;
        font-family: lato;
        margin-left: 32px;
        text-align: center;
    }
.disabledButton3{
        padding: 20px;
        width: 272px;
        background-color:#CCD0C1;
        border: none;
        border-radius: 8px;
        color: #E8E8E8;
        font-size: 16px;
        font-family: lato;
        margin-left: 32px;
        text-align: center;
    }
    .mainButton3{
        width: 272px;
        background-color: #717562;
        border: none;
        border-radius: 8px;
        padding: 20px;
        color: #E8E8E8;
        font-size: 16px;
        font-family: lato;
        margin-left: 32px;
        text-align: center;
    }